{% load i18n %}

<div class="col-md-4 col-sm-6 col-lg-3">
    <header class="aa-intel-section-header">
        <h2 class="aa-intel-section-title">
            {% translate "Ship types" as table_title %}
            {{ table_title|title }}
        </h2>
    </header>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-local-dscan table-local-dscan-ship-classes-{{ dscan_section }} table-aa-intel">
                <table class="table table-condensed table-sortable table-no-images aa-intel-dscan-ship-types aa-intel-dscan-ship-types-list" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>
                            {% translate "Ship type" as table_header %}
                            {{ table_header|title }}
                        </th>
                        <th>{% translate "Count" %}</th>
                    </tr>
                    </thead>
                </table>
            </div>


            <div class="aa-intel-loading-table-info aa-intel-loading-table-info-ship-types bs-callout bs-callout-info">
                <p>
                    {% translate "Loading data …" %}
                </p>
            </div>

            <div class="aa-intel-empty-table-info aa-intel-empty-table-info-ship-types bs-callout bs-callout-info">
                <p>
                    {% translate "No data." %}
                </p>
            </div>
        </div>
    </div>
</div>
