{% extends 'aa_intel_tool/base.html' %}

{% load i18n %}
{% load inteltool_versioned_static %}

{% translate "Unaffiliated / No Alliance" as no_alliance %}

{% block page_title %}{% translate 'D-Scan » Intel Tool' %}{% endblock %}

{% block aa_intel_tool_header %}
    <header>
        <h1>{% translate "D-Scan" %}</h1>
    </header>

    {% include "aa_intel_tool/partials/scan/evetime.html" %}
    {% include "aa_intel_tool/partials/scan/buttons.html" %}
{% endblock %}

{% block aa_intel_tool_body %}
    <div class="dscan-result row">
        {% translate "All Ships" as dscan_section_header_all %}
        {% translate "Off Grid" as dscan_section_header_all %}
        {% translate "On Grid" as dscan_section_header_all %}

        {% include 'aa_intel_tool/partials/scan/dscan/ship-classes.html' with title=dscan_section_header_all dscan_section='all' %}
        {% include 'aa_intel_tool/partials/scan/dscan/ship-classes.html' with title=dscan_section_header_all dscan_section='ongrid' %}
        {% include 'aa_intel_tool/partials/scan/dscan/ship-classes.html' with title=dscan_section_header_all dscan_section='offgrid' %}
        {% include 'aa_intel_tool/partials/scan/dscan/ship-types.html' %}
    </div>
{% endblock %}

{% block extra_css %}
    {% include "bundles/datatables-css.html" %}
    {% include "aa_intel_tool/bundles/aa-intel-tool-css.html" %}
{% endblock %}

{% block extra_javascript %}
    <script>
        {#const aaIntelToolJsOptions = {#}
        {#    ajax: {#}
        {#        getPilotList: '{% url "aa_intel_tool:ajax_get_pilot_list" scan_hash %}',#}
        {#        getCorporationList: '{% url "aa_intel_tool:ajax_get_corporation_list" scan_hash %}',#}
        {#        getAllianceList: '{% url "aa_intel_tool:ajax_get_alliance_list" scan_hash %}'#}
        {#    }#}
        {#}#}
    </script>

    {% include "bundles/datatables-js.html" %}
    {% include "bundles/clipboard-js.html" %}
{% endblock extra_javascript %}
