{% extends "aa_intel_tool/base.html" %}

{% load i18n %}

{% translate "Unaffiliated / No Alliance" as no_alliance %}

{% block page_title %}{% translate "Chat List Scan » Intel Tool" %}{% endblock %}

{% block aa_intel_tool_header %}
    <header>
        <h1>{% translate "Fleet Composition" %}</h1>
    </header>

    {% include "aa_intel_tool/partials/scan/evetime.html" %}
    {% include "aa_intel_tool/partials/scan/buttons.html" %}
{% endblock %}

{% block aa_intel_tool_body %}
    {% include "aa_intel_tool/partials/scan/fleetcomp/fleet-details.html" %}
    {% include "aa_intel_tool/partials/scan/fleetcomp/participation.html" %}
{% endblock %}

{% block extra_css %}
    {% include "bundles/datatables-css.html" %}
    {% include "aa_intel_tool/bundles/aa-intel-tool-css.html" %}
{% endblock %}

{% block extra_javascript %}
    <script>
        const aaIntelToolJsOptions = {
            ajax: {
                getPilotList: '{% url "aa_intel_tool:ajax_get_scan_data" scan_hash scan_data_section.PILOTLIST.value %}',
                getCorporationList: '{% url "aa_intel_tool:ajax_get_scan_data" scan_hash scan_data_section.CORPORATIONLIST.value %}',
                getAllianceList: '{% url "aa_intel_tool:ajax_get_scan_data" scan_hash scan_data_section.ALLIANCELIST.value %}'
            }
        }
    </script>

    {% include "bundles/datatables-js.html" %}
    {% include "bundles/clipboard-js.html" %}
    {% include "aa_intel_tool/bundles/aa-intel-tool-js-l10n.html" %}
    {% include "aa_intel_tool/bundles/aa-intel-tool-fleetcomp-js.html" %}
{% endblock extra_javascript %}
