{% load i18n %}

<div class="col-md-4 col-sm-6 col-lg-3 col-aa-intel col-aa-intel-dscan-ship-classes-{{ dscan_section }}">
    <header class="aa-intel-section-header my-4">
        <h3 class="aa-intel-section-title">
            {{ section_header|title }}

            {% if not omit_counter %}
                (<span id="aa-intel-dscan-{{ dscan_section }}-count">0</span>)
            {% endif %}
        </h3>
    </header>

    <div class="card card-default border-0">
        <div class="card-body">
            <div class="table-dscan table-dscan-ship-classes table-dscan-ship-classes-{{ dscan_section }} table-aa-intel d-none">
                <table class="table table-sm table-sortable aa-intel-dscan-ship-classes aa-intel-dscan-ship-classes-{{ dscan_section }}-list" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>
                                {% translate "Ship class" as table_header %}
                                {{ table_header|title }}
                            </th>
                            <th>{% translate "Count" %}</th>
                        </tr>
                    </thead>
                </table>

                <div class="text-center mt-3">
                    {% translate "Total mass (in kg):" %}
                    <span id="aa-intel-dscan-{{ dscan_section }}-mass" data-mass="0"></span>
                </div>
            </div>

            <div class="aa-intel-loading-table-info aa-intel-loading-table-info-{{ dscan_section }} aa-callout aa-callout-info">
                <p>
                    {% translate "Loading data …" %}
                </p>
            </div>

            <div class="aa-intel-empty-table-info aa-intel-empty-table-info-{{ dscan_section }} aa-callout aa-callout-info d-none">
                <p>
                    {% translate "No data …" %}
                </p>
            </div>
        </div>
    </div>
</div>
