{% load i18n %}

<div class="local-scan-result row" id="aa-intel-fleetcomp-participation-row">
    <div class="clearfix">
        <div class="col-sm-6 col-md-4 col-lg-4 clearfix">
            <header class="aa-intel-section-header">
                <h2>
                    {% translate "Fleet details" as section_header %}
                    {{ section_header|title }}

                    <small>
                        ({% translate "Pilots in fleet" %}: <span id="aa-intel-fleet-participation-count">0</span>)
                    </small>
                </h2>
            </header>
        </div>
    </div>
</div>
