{% load i18n %}

<div class="aa-intel-copy-to-clipboard copy-permalink-to-clipboard">
    <ul class="nav nav-pills clearfix">
        <li role="presentation">
            <a href="{% url "aa_intel_tool:intel_tool_index" %}">
                <span type="button" class="btn btn-default">
                    {% translate "New Scan" %}
                </span>
            </a>
        </li>

        <li role="presentation">
            <span type="button" class="btn btn-default btn-copy-permalink-to-clipboard" data-clipboard-action="copy" data-clipboard-text="{{ SITE_URL }}{% url 'aa_intel_tool:intel_tool_scan' scan_hash %}">
                {% translate "Copy Permalink" %}
            </span>
        </li>
    </ul>
</div>
<div class="aa-intel-copy-result"></div>
