{% load evelinks %}

<span class="aa-intel-pilot-information-wrapper">
    <span class="aa-intel-pilot-name-wrapper">
        {{ pilot.name }}
    </span>

    <span class="aa-intel-pilot-links-wrapper">
        <small>
            <a class="aa-intel-information-link" href="{{ pilot.id|evewho_character_url }}" target="_blank" rel="noopener noreferer">
                evewho <i class="fas fa-external-link-alt" aria-hidden="true"></i>
            </a> |
            <a class="aa-intel-information-link" href="{{ pilot.id|zkillboard_character_url }}" target="_blank" rel="noopener noreferer">
                zkillboard <i class="fas fa-external-link-alt" aria-hidden="true"></i>
            </a>
        </small>
    </span>
</span>
