{% load i18n %}

<div class="col-md-12 col-lg-6 aa-intel-chatscan-pilots">
    <header class="entry-header">
        <h2 class="entry-title">
            {% translate "Pilots Breakdown" %} ({{ processed_data.pilots|length }})
        </h2>
    </header>

    <div class="table-responsive table-local-scan table-local-scan-pilots table-aa-intel">
        <table class="table table-sortable table-condensed aa-intel-pilot-participation-list" data-haspaging="no">
            <thead>
                <tr>
                    <th>{% translate "Name" %}</th>
                    <th>{% translate "Alliance" %}</th>
                    <th>{% translate "Corporation" %}</th>
                </tr>
            </thead>

            <tbody>
                {% for pilot_data, pilot in processed_data.pilots.items %}
                    <tr class="aa-intel-pilot-participation-item aa-intel-alliance-id-{{ pilot.alliance_id }} aa-intel-corporation-id-{{ pilot.corporation_id }} aa-intel-pilot-id-{{ pilot.id }}" data-alliance-id="{{ pilot.alliance_id }}" data-corporation-id="{{ pilot.corporation_id }}" data-character-id="{{ pilot.alliance_id }}">
                        <td>
                            {% include "aa_intel_tool/partials/scan/pilot/avatar.html" %}
                            {% include "aa_intel_tool/partials/scan/pilot/information.html" %}
                        </td>

                        <td data-search="{{ pilot.alliace.name }}, {{ pilot.alliance.ticker }}">
                            {% if pilot.alliance.id > 1 %}
                                {% include "aa_intel_tool/partials/scan/alliance/logo.html" with alliance=pilot.alliance %}

                                {{ pilot.alliance.ticker }}
                            {% endif %}
                        </td>

                        <td data-search="{{ pilot.corporatin.name }}, {{ pilot.corporatin.ticker }}">
                            {% include "aa_intel_tool/partials/scan/corporation/logo.html" with corporation=pilot.corporation %}

                            {{ pilot.corporation.ticker }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
