{% extends "allianceauth/base-bs5.html" %}

{% load i18n %}

{% block page_title %}
    {% translate "Intel Parser" %}
{% endblock %}

{% block header_nav_brand %}
    {% translate "Intel Parser" %}
{% endblock header_nav_brand %}

{% block content %}
    <div class="aa-intel-tool">
        {% if not user.is_authenticated %}
            <div class="aa-intel-tool-header">
                {% block aa_intel_tool_header %}{% endblock %}
            </div>
        {% endif %}

        <div class="aa-intel-tool-body">
            {% block aa_intel_tool_body %}{% endblock %}
        </div>

        <div class="aa-intel-tool-footer">
            {% include "aa_intel_tool/partials/footer/app-translation-footer.html" %}
        </div>
    </div>
{% endblock %}
