{% extends 'public/base.html' %}

{% load i18n %}
{% load static %}
{% load auth_notifications %}

{% block page_title %}{% translate 'Intel Tool' %}{% endblock %}

{% block extra_include %}
    <link href="{% static 'allianceauth/css/auth-base.css' %}" rel="stylesheet">

    <style>
    body {
        background: none !important;
    }

    .container {
        margin-top: 0 !important;
        width: 100%;
    }

    .aa-intel-tool {
        margin: 0 auto;
        width: 85%;
    }
    </style>
{% endblock %}

{% block content %}
    {% include 'allianceauth/top-menu.html' %}

    <div class="aa-intel-tool">
        <div class="aa-intel-tool-header">
            {% block aa_intel_tool_header %}{% endblock %}
        </div>

        <div class="aa-intel-tool-body">
            {% block aa_intel_tool_body %}{% endblock %}
        </div>
    </div>

    {% include 'bundles/bootstrap-js.html' %}
    {% include 'bundles/evetime-js.html' %}
{% endblock %}
